<style>
    .table td,
    .table th {
        vertical-align: middle;
    }
</style>

{{#if productos.length}}
<h2>Discos</h2>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        {{#each productos}}
        <tr>
            <td>{{this.title}}</td>
            <td>${{this.price}}</td>
            <td><img width="100" src={{this.thumbnail}} alt="not found"></td>
        </tr>
        {{/each}}
    </table>
</div>
{{else}}
<h3>No hay productos</h3>
{{/if}}